body {
margin-top: 3px;
background-image: url("http://wallpaper.pickywallpapers.com/1600x900/simple-clean-blue-pattern.jpg");
    
    }
h1{
    font-weight: 400;
}
a{
    font-weight: 600;
}
p{
   font-family: 'Times New Roman';
   font-weight: 300;
}

header{
      width: 200px;
      height: 80px;
      margin-top: 1px;
      margin-bottom: 0;
      background-image:url("http://i.imgur.com/7wan5M3.jpg");
      
}
.container{
    max-width: 1100px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
    background-color: white;
    font-family: 'Buxton Sketch';
    font-size: 100%;

}


nav ul li {
    list-style: none;
    float: left; 
  
}
nav{
    
    height: 2px;
    background-color: blue;
}

 ul{
  list-style: none;
  display: inline;
  text-align: center;


}
 /*a:link, a:visited{
   
    font-weight: bold;
    font-family: 'Buxton Sketch';
    padding: 8px;
    text-transform: uppercase;
    width: 150px;
    background-color:white;
    color: black;
    box-shadow: 1px 2px 5px #888888;
}*/

 nav ul ul {
    display: none;
    background: #ebe7e7;
    float: none;
    position:  absolute;

   
}


nav ul li:hover > ul{
    display: block;
width: 70px;

  }

nav ul {
    font-family: 'Buxton Sketch';
    background: #ebe7e7;
    list-style: none;
    display: inline-table;
    padding: 0 20px 0 20px;
    position: relative;
    border-radius: 4px;
    box-shadow: 1px 1px 1px;

  
}
nav ul:after{
    content:  ""; clear: both;display: block;

}

nav ul li:hover{
    background-color: #649de3;

    
}

nav ul li:hover a {
    color: black;


}
nav ul li a {
    display: block; 
    padding: 5px 15px;
    color: black;
    text-decoration: none;

}
.body{

    
    height: auto;
 
}
div.sektioner{
    
    margin: 20px;
    
                               
}
.sektion{
    width: 50%;
    float: left;
    margin-right: 5%;
    font-size: 80%;
    margin-top: 10px;
}
.sektion-andra
{
    float: left;
    margin: 10px;
   
}
.sektion-tredje
{
    float: left;

    margin: 10px;
    
}
img {
    max-width: 90%;
    height: auto;
    margin: 0 0 10px 0;
}
video{
    max-width: 90%;
    height: auto;
    margin: 0 0 10px 0;
    
}

div.body{
    padding: 30px 0 0 0;
}
footer{
    
    background-color:#ebe7e7; 
    color: black;
    text-align: left;
    height: 40px;

     
}
footer p{
   text-align: right;  
}

/*div.sektionerna{
    padding-bottom: 1px;
   
}
div.sektionNagot{
    width: 47%;
    float: left;
    margin-right: 5%;
   
}
div.sektionAnnat{
    width: auto;
 
    margin-right: 0%;
}*/

.clearfix { overflow: auto;}



@media screen and (max-width: 750px){
    /*nav ul li{
    width: 100%;
    border-bottom: 0px solid black;
    float: left;
    margin: 10px 0px;
 
              }

nav{
    margin: 5px 25px 25px 25px;
}
    */
div.container{
    margin: 25px 25px 25px 25px;
}
div.sektioner{
   margin: 5px 0px 0px 0px;

}
div.sektionerna{
    margin: 120px 0px 0px 0px;
}
 }

@media screen and (max-width: 400px) {
    div.container {
        margin: 0 auto 0 auto;
    }

    nav ul li {
        width: 100%;
        border-bottom: 0px solid black;
        font-size: 80%;
    }

    div.sektioner {
        margin: 50px 0px 0px 0px;
    }

    header {
        height: 48px;
        width: 152px;
        margin-top: 20px;
        margin-bottom: 3px;
        background-image: url("http://i.imgur.com/uzgIQgM.jpg");
    }

    div.mobil {
        width: auto;
        margin-right: 0;
    }

    .hide-mobile {
        display: none;
    }
}