<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
  <add name ="uppgift4" providerName="Npgsql"
       connectionString= "Server=webblabb.miun.se;Port=5432;Database=pgmvaru_g2;User Id=pgmvaru_g2;Password=akro;SSL=true"/>

</connectionStrings>
</configuration>
